{% extends "ImageDel/First.html" %}
{% block content %}
    <div style="width: 800px">
        <img src="{{ imgurl.img_url.url }}" style="height:48%;width:48%;float: left">
    </div>
    <div style="width:56%;height:auto;float: right">
        <form action="">
            {% for item in imgmessagea.result %}<br>

                置 信 度：{{ item.score }}&nbsp;&nbsp;&nbsp;&nbsp;
                识别结果：{{ item.root }}<br>
                图片描述：{{ item.baike_info.description }}<br>
                关 键 字：{{ item.keyword }}<br>
            {% endfor %}
        </form>
    </div>
{% endblock %}